<p id="notice"><%= notice %></p>

<table class:'table'>
	<%= @test_controller.name %>
</table>

<hr/>

<%= link_to 'Edit', edit_test_controller_path(@test_controller) %> |
<%= link_to 'Back', test_controllers_path %>
